@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");
/* shared style */
* {
  font-family: "Work Sans", sans-serif;
}
.text-light-gray {
  color: #727272;
}
.btn-primary {
  border-radius: 0.3rem;
  background: #ff900e;
  padding: 1rem 1.5rem;
  border: none;
  color: #fff;
  text-align: center;
  font-size: 1.3rem;
  font-weight: 600;
  cursor: pointer;
}
.section-title {
  color: #131313;
  font-size: 3rem;
  font-weight: 700;
}
/* shared style end */
header {
  background: rgba(255, 144, 14, 0.1);
  padding: 50px 240px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav > ul {
  display: flex;
}
nav li {
  list-style: none;
  margin-right: 30px;
}
nav li a {
  text-decoration: none;
  color: #424242;
  font-size: 1rem;
  font-weight: 500;
}
/* banner realeated style */
.banner-content {
  max-width: 800px;
  text-align: center;
  margin: 0 auto;
}
.banner-title {
  color: #131313;
  font-size: 4rem;
  font-weight: 700;
}
.banner-description {
  color: #727272;
  font-weight: 400;
}
.banner-container img {
  margin-top: 20px;
  width: 100%;
}
/* main section styles */
main {
  max-width: 1250px;
  margin: 70px auto;
}
/* team-section-styles */
.team-container {
  display: flex;
  align-items: center;
  gap: 5rem;
}
.team-img-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}
.team-content {
  padding-left: 60px;
  padding-right: 70px;
}
.team-content-title {
  font-size: 2rem;
}
.team-content .quick-list {
  color: #727272;
  font-weight: 500;
}
.team-content .of-our {
  color: #131313;
  font-weight: 700;
}
.team-content .text-features {
  color: #ff900e;
  font-weight: 700;
}
.team-content-description {
  color: #727272;
  font-weight: 400;
}
/* facts container */
.facts-card-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 2rem;
}
.facts-card-container .card {
  border-radius: 8px;
  border: 1px solid #ff900e;
  text-align: center;
  padding: 4rem;
}
.facts-card-container .card-stats {
  font-size: 2rem;
  font-weight: 600;
  color: #626262;
}
/* responsive media quaries */
/* mobile device */
@media screen and (max-width: 576px) {
  header {
    padding: 20px;
  }
  nav,
  .team-container {
    flex-direction: column;
  }
  .banner-title {
    font-size: 2rem;
  }

  .team-img-container {
    grid-template-columns: 1fr;
  }
}
/* tablet or medium device */
@media screen and (min-width: 576px) and (max-width: 956px) {
  nav,
  .team-container {
    flex-direction: column;
  }
  header {
    padding: 50px;
  }
  .banner-title {
    font-size: 3rem;
  }
}
