@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");
/* shared style */
* {
  font-family: "Work Sans", sans-serif;
}
.btn-primary {
  border-radius: 0.3rem;
  background: #ff900e;
  padding: 1rem 1.5rem;
  border: none;
  color: #FFF;
text-align: center;
font-size: 1.3rem;
font-weight: 600;
}
/* shared style end */
header {
  background: rgba(255, 144, 14, 0.1);
  padding: 50px 240px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  color: #131313;
  font-size: 3rem;
  font-weight: 700;
}
nav > ul {
  display: flex;
}
nav li {
  list-style: none;
  margin-right: 30px;
}
nav li a {
  text-decoration: none;
  color: #424242;
  font-size: 1rem;
  font-weight: 500;
}
/* banner realeated style */
.banner-content {
  max-width: 800px;
  text-align: center;
  margin: 0 auto;
}
.banner-title {
  color: #131313;
  font-size: 4rem;
  font-weight: 700;
}
.banner-description {
  color: #727272;
  font-weight: 400;
}
.banner-container img {
  width: 100%;
}
